<div class="featurette" id="about">
    <img class="featurette-image img-circle img-responsive pull-right" src='https://graph.facebook.com/173476953191198/picture?type=large'>
    <h2 class="featurette-heading">About
        <span class="text-muted">.devClub</span>
    </h2>
    <p class="lead">devClub's mandate is to provide students of the University of Manitoba with an opportunity to gain some coding experience,
        learn various engines, softwares, and consoles. This group will also be opened to students who are just interested
        and would like to join.</p>
    <br>
    <div>
        <h4>
            <img src="images/slack-chat.png">
            <a href="http://umdevclub.slack.com">Join Us On Slack!</a>
        </h4>
    </div>
    <div>
        <h4>
            <img src="images/facebook.png">
            <a href="https://www.facebook.com/umdevclub/">Follow Us On Facebook!</a>
        </h4>
    </div>
    <div>
        <h4>
            <img src="images/instagram.png">
            <a href="https://www.instagram.com/umdevclub/">Follow Us On Instagram!</a>
        </h4>
    </div>
</div>

