<!-- Forth Featurette -->
<div class="featurette" id="contact">
    <img class="featurette-image img-circle img-responsive pull-right" src="">
    <h2 class="featurette-heading">Contact
        <span class="text-muted">Us</span>
    </h2>
    <div class="row">
        <form action="mail.php" method="post" class="contact-form">
            <fieldset class="col-md-4 col-sm-6">
                <label for="your-name">Name</label>
                <input class="form-control" type="text" id="your-name" placeholder="Your Name..." maxlength="60" title="Enter Your Name">
            </fieldset>
            <fieldset class="col-md-4 col-sm-6">
                <label for="your-email">Email</label>
                <input class="form-control" type="email" id="your-email" placeholder="Your Email..." maxlength="60" title="Enter Your Email">
            </fieldset>
            <fieldset class="col-md-4 col-sm-12">
                <label for="your-subject">Subject</label>
                <input class="form-control" type="text" id="your-subject" placeholder="Subject..." maxlength="100" title="Enter Subject">
            </fieldset>
            <fieldset class="col-md-12 col-sm-12">
                <label for="your-message">Message</label>
                <textarea class="form-control" name="message" id="your-message" cols="30" rows="6" placeholder="Leave your message..." maxlength="500"
                    title="Enter Message"></textarea>
            </fieldset>
            <fieldset class="col-md-12 col-sm-12">
                <button type="submit" class="button big default buttonPadding" value="Send Message">Send Message</button>
            </fieldset>
        </form>
    </div>
    <!-- .contact-form -->

</div>