<!-- Third Featurette -->
<div class="featurette" id="execs">

    <h2 class="featurette-heading">Meet the
        <span class="text-muted">Executives</span>
    </h2>

    <!-- EXEC SECTION -->
    <!-- Row 1 -->
    <div class="row1">

        <!-- Co-President -->
        <div class="col-md-6">
            <div class="exec_img">
                <img src="images/alex.jpg" alt="Alex" />
            </div>
            <span class="title">Co-President</span>
            <h4>
                <span>Alexander </span> Mark</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Co-President -->
        <div class="col-md-6">
            <div class="exec_img">
                <img src="images/mardel.jpg" alt="Mardel" />
            </div>
            <span class="title">Co-President</span>
            <h4>
                <span>Mardel </span> Maduro</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- end row 1 -->

    <!-- Row 2 -->
    <div class="row2">
        <!-- Communications -->
        <div class="col-md-3">
            <div class="exec_img">
                <img src="images/wynand.jpg" alt="Wynand" />
            </div>
            <span class="title">Executive of Events</span>
            <h4>
                <span>Wynand</span> Badenhorst</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Events -->
        <div class="col-md-3">
            <div class="exec_img">
                <img src="images/landon.jpg" alt="Wynand" />
            </div>
            <span class="title">Executive</span>
            <h4>
                <span>Landon</span> Butter</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Exec of Outreach -->
        <div class="col-md-3">
            <div class="exec_img">
                <img src="images/annelies.jpg" alt="Annelies" />
            </div>
            <span class="title">Executive of Outreach</span>
            <h4>
                <span>Annelies</span> Sikkenga</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Exec of Communications -->
        <div class="col-md-3">
            <div class="exec_img">
                <img src="https://graph.facebook.com/1216476346/picture?type=large" alt="Jen" />
            </div>
            <span class="title">Executive of Communication</span>
            <h4>
                <span>Jennifer</span> Tran</h4>
            <ul class="mediaIconAlign">
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <i class="fa fa-foursquare"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
    <!-- end row 2 -->
</div>
<!--end 3rd featurette -->