<!-- Second Featurette -->
<div class="featurette" id="meetings">
    <h2 class="featurette-heading">Our Next
        <span class="text-muted">Meetings</span>
    </h2>
    <p class="lead">Our meetings are usually every Wednesday at 6pm</p>
    <!-- Desktop version -->
    <div class="responsive-iframe-container big-container">
        <iframe src="https://calendar.google.com/calendar/embed?src=umdevclub%40gmail.com&ctz=America/Winnipeg" style="border: 0"
            width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <!-- can customize colours in google calendar settings - insert new embeded code -->
    </div>
    <!-- Mobile version -->
    <div class="responsive-iframe-container small-container">
        <iframe src="https://calendar.google.com/calendar/embed?src=umdevclub%40gmail.com&mode=AGENDA&ampctz=America/Winnipeg" style="border: 0"
            width="800" height="600" frameborder="0" scrolling="no"></iframe>
        <!-- can customize colours in google calendar settings - insert new embeded code -->
    </div>
</div>